

html, body, header, .view{
  height: 100%; 
}


@media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 950px) {
      html,
      body,
      header,
      .view {
        height: 650px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}


#intro {
    
    background-repeat:  no-repeat;
     background-position:center center; 
     background-attachment: fixed;
    background-size: cover;
}


.hr-light {
    border-top: 1px solid #fff;

}

.h2-clasi{
  
  margin-top: 15rem;
  font-family: Philosopher;
 
}

.text-content{

  font-family: Helvetica, sans-serif;
  font-size: 22px;
}

html, body {
  overflow-x: hidden;
}

body{
  margin: 0 auto;
}

.full-width {
  box-sizing: unset;
  margin: 0 -9999rem;
  padding: 0 9999rem;
  background: aquamarine;
}

.foot{
  box-sizing: unset;
  margin: 0 -9999rem;
  padding: 0 9999rem;
  color: #fff;
  background: linear-gradient(to left bottom,  #7824ff,#044eec,  #4969f7,  #1a7cfd,  #49b2f7,#91c0f5);
}

img {
  max-width: 100%;
  height: auto;
}


.box{ 
  box-sizing: border-box;
  min-height: 700px;
  height: auto;
  width: auto;
  margin: 15px;
  background-color: #ffffff;
  border-radius: .25rem;
  padding: 20px;
  
 background-image: linear-gradient(rgb(113, 24, 230),rgb(211, 18, 236));
}



.view {

    background: linear-gradient(to left bottom, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);

  }

  .btns {
    color: rgb(144, 33, 167);
    text-align: center;
    height: 39px;
    width: 100px;
    border: 2px solid rgb(144, 33, 167);
    padding-top: 1px;
    border-radius: 10px;

  }

  .btns:hover {
    background-color: rgb(144, 33, 167);
    color: white;
    border: 2px solid white;
  }